﻿body {
}

body {
     font-family: "Roboto", sans-serif;
     text-align:center;
}

a {
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
    transition: .5s;
    border: 1px solid black;
}

a:hover {
    font-size: 20px;
    color: darkblue;
}

p {
    color: darkgreen;
    font-size: 16px;
}

h2, h3, h4 {
    color: darkred;
}


button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
button:hover, button:active, button:focus {
  background: #43A047;
}

input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}