﻿body {
     font-family: "Roboto", sans-serif;
     text-align:center;
}

a {
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
    transition: .5s;
    border: 1px solid black;
}

a:hover {
    font-size: 20px;
    color: darkblue;
}

p {
    color: darkgreen;
    font-size: 16px;
}

h2, h3, h4 {
    color: darkred;
}

#icerik {
    padding: 15px;
    border: 1px solid red;
    z-index: 1;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}