﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Index</title>
    <link rel="stylesheet" href="~/Content/adminIndex.css" />
</head>
<body>
    <h2>Admin anasayfasına hoşgeldin @Session["kullaniciAdi"]</h2>
    <a href="/Admin/SoruEkle">Soru Ekle</a>
    <div>
        <input id="mesaj" type="text" placeholder="Burdan kullanıcılara seslenebilirsin" />
        <button id="mesajiGonder">Mesajı Gönder</button>
    </div>
    <div>
        <button id="girisleriAc">Girişleri Aç</button>
        <button id="yarismayiBaslat">Yarışmayı Başlat</button>
        <button id="yarismayiBitir">Yarışmayı Bitir</button>
        <button id="dogruYanlisSayiniGoster">Doğru Yanlış Sayısını Göster</button>
    </div>
    <div>
        <div>
            <p class="soruNumarasi">Soru Numarası: </p>
            <p class="soruAdi">Soru Adı: </p>
            <p class="aSikki">A) </p>
            <p class="bSikki">B) </p>
            <p class="cSikki">C) </p>
            <p class="cevap">Cevap: </p>
            <button class="soruyuGonder">Soruyu Gönder</button>
        </div>
        <div>
            <p class="soruNumarasi">Soru Numarası: </p>
            <p class="soruAdi">Soru Adı: </p>
            <p class="aSikki">A) </p>
            <p class="bSikki">B) </p>
            <p class="cSikki">C) </p>
            <p class="cevap">Cevap: </p>
            <button class="soruyuGonder">Soruyu Gönder</button>
        </div>
        <div>
            <p class="soruNumarasi">Soru Numarası: </p>
            <p class="soruAdi">Soru Adı: </p>
            <p class="aSikki">A) </p>
            <p class="bSikki">B) </p>
            <p class="cSikki">C) </p>
            <p class="cevap">Cevap: </p>
            <button class="soruyuGonder">Soruyu Gönder</button>
        </div>
        <div>
            <p class="soruNumarasi">Soru Numarası: </p>
            <p class="soruAdi">Soru Adı: </p>
            <p class="aSikki">A) </p>
            <p class="bSikki">B) </p>
            <p class="cSikki">C) </p>
            <p class="cevap">Cevap: </p>
            <button class="soruyuGonder">Soruyu Gönder</button>
        </div>
        <div>
            <p class="soruNumarasi">Soru Numarası: </p>
            <p class="soruAdi">Soru Adı: </p>
            <p class="aSikki">A) </p>
            <p class="bSikki">B) </p>
            <p class="cSikki">C) </p>
            <p class="cevap">Cevap: </p>
            <button class="soruyuGonder">Soruyu Gönder</button>
        </div>
        <div>
            <p class="soruNumarasi">Soru Numarası: </p>
            <p class="soruAdi">Soru Adı: </p>
            <p class="aSikki">A) </p>
            <p class="bSikki">B) </p>
            <p class="cSikki">C) </p>
            <p class="cevap">Cevap: </p>
            <button class="soruyuGonder">Soruyu Gönder</button>
        </div>
        <div>
            <p class="soruNumarasi">Soru Numarası: </p>
            <p class="soruAdi">Soru Adı: </p>
            <p class="aSikki">A) </p>
            <p class="bSikki">B) </p>
            <p class="cSikki">C) </p>
            <p class="cevap">Cevap: </p>
            <button class="soruyuGonder">Soruyu Gönder</button>
        </div>
        <div>
            <p class="soruNumarasi">Soru Numarası: </p>
            <p class="soruAdi">Soru Adı: </p>
            <p class="aSikki">A) </p>
            <p class="bSikki">B) </p>
            <p class="cSikki">C) </p>
            <p class="cevap">Cevap: </p>
            <button class="soruyuGonder">Soruyu Gönder</button>
        </div>
        <div>
            <p class="soruNumarasi">Soru Numarası: </p>
            <p class="soruAdi">Soru Adı: </p>
            <p class="aSikki">A) </p>
            <p class="bSikki">B) </p>
            <p class="cSikki">C) </p>
            <p class="cevap">Cevap: </p>
            <button class="soruyuGonder">Soruyu Gönder</button>
        </div>
        <div>
            <p class="soruNumarasi">Soru Numarası: </p>
            <p class="soruAdi">Soru Adı: </p>
            <p class="aSikki">A) </p>
            <p class="bSikki">B) </p>
            <p class="cSikki">C) </p>
            <p class="cevap">Cevap: </p>
            <button class="soruyuGonder">Soruyu Gönder</button>
        </div>
    </div>



    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>  <!-- Signalr javascript fonksiyonları için gerekli script-->
    <script src="~/signalr/hubs"></script>  <!-- Default script for signalr -->
    <script src="~/Scripts/adminIndex.js"></script>
</body>
</html>
