﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SoruEkle</title>
    <link rel="stylesheet" href="~/Content/soruEkle.css" />
</head>
<body>
    <div> 
        <div>
            <input type="text" class="soruAdi" placeholder="Soruyu buraya yazınız" />
            <input type="text" class="aSikki" placeholder="A şıkkını buraya yazınız" />
            <input type="text" class="bSikki" placeholder="B şıkkını buraya yazınız" />
            <input type="text" class="cSikki" placeholder="C şıkkını buraya yazınız" />
            <input type="text" class="cevap" placeholder="Cevabı buraya yazınız" />
        </div>
        <div>
            <input type="text" class="soruAdi" placeholder="Soruyu buraya yazınız" />
            <input type="text" class="aSikki" placeholder="A şıkkını buraya yazınız" />
            <input type="text" class="bSikki" placeholder="B şıkkını buraya yazınız" />
            <input type="text" class="cSikki" placeholder="C şıkkını buraya yazınız" />
            <input type="text" class="cevap" placeholder="Cevabı buraya yazınız" />
        </div>
        <div>
            <input type="text" class="soruAdi" placeholder="Soruyu buraya yazınız" />
            <input type="text" class="aSikki" placeholder="A şıkkını buraya yazınız" />
            <input type="text" class="bSikki" placeholder="B şıkkını buraya yazınız" />
            <input type="text" class="cSikki" placeholder="C şıkkını buraya yazınız" />
            <input type="text" class="cevap" placeholder="Cevabı buraya yazınız" />
        </div>
        <div>
            <input type="text" class="soruAdi" placeholder="Soruyu buraya yazınız" />
            <input type="text" class="aSikki" placeholder="A şıkkını buraya yazınız" />
            <input type="text" class="bSikki" placeholder="B şıkkını buraya yazınız" />
            <input type="text" class="cSikki" placeholder="C şıkkını buraya yazınız" />
            <input type="text" class="cevap" placeholder="Cevabı buraya yazınız" />
        </div>
        <div>
            <input type="text" class="soruAdi" placeholder="Soruyu buraya yazınız" />
            <input type="text" class="aSikki" placeholder="A şıkkını buraya yazınız" />
            <input type="text" class="bSikki" placeholder="B şıkkını buraya yazınız" />
            <input type="text" class="cSikki" placeholder="C şıkkını buraya yazınız" />
            <input type="text" class="cevap" placeholder="Cevabı buraya yazınız" />
        </div>
        <div>
            <input type="text" class="soruAdi" placeholder="Soruyu buraya yazınız" />
            <input type="text" class="aSikki" placeholder="A şıkkını buraya yazınız" />
            <input type="text" class="bSikki" placeholder="B şıkkını buraya yazınız" />
            <input type="text" class="cSikki" placeholder="C şıkkını buraya yazınız" />
            <input type="text" class="cevap" placeholder="Cevabı buraya yazınız" />
        </div>
        <div>
            <input type="text" class="soruAdi" placeholder="Soruyu buraya yazınız" />
            <input type="text" class="aSikki" placeholder="A şıkkını buraya yazınız" />
            <input type="text" class="bSikki" placeholder="B şıkkını buraya yazınız" />
            <input type="text" class="cSikki" placeholder="C şıkkını buraya yazınız" />
            <input type="text" class="cevap" placeholder="Cevabı buraya yazınız" />
        </div>
        <div>
            <input type="text" class="soruAdi" placeholder="Soruyu buraya yazınız" />
            <input type="text" class="aSikki" placeholder="A şıkkını buraya yazınız" />
            <input type="text" class="bSikki" placeholder="B şıkkını buraya yazınız" />
            <input type="text" class="cSikki" placeholder="C şıkkını buraya yazınız" />
            <input type="text" class="cevap" placeholder="Cevabı buraya yazınız" />
        </div>
        <div>
            <input type="text" class="soruAdi" placeholder="Soruyu buraya yazınız" />
            <input type="text" class="aSikki" placeholder="A şıkkını buraya yazınız" />
            <input type="text" class="bSikki" placeholder="B şıkkını buraya yazınız" />
            <input type="text" class="cSikki" placeholder="C şıkkını buraya yazınız" />
            <input type="text" class="cevap" placeholder="Cevabı buraya yazınız" />
        </div>
        <div>
            <input type="text" class="soruAdi" placeholder="Soruyu buraya yazınız" />
            <input type="text" class="aSikki" placeholder="A şıkkını buraya yazınız" />
            <input type="text" class="bSikki" placeholder="B şıkkını buraya yazınız" />
            <input type="text" class="cSikki" placeholder="C şıkkını buraya yazınız" />
            <input type="text" class="cevap" placeholder="Cevabı buraya yazınız" />
        </div>
        <button id="sorulariKaydet">Soruları Kaydet</button>
    </div>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/soruEkle.js"></script>
</body>
</html>
