﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bekleme Odası</title>
    <link rel="stylesheet" type="text/css" href="~/Content/beklemeOdasi.css">
</head>
<body>
    <div id="icerik">
        <a href="/Anasayfa/YarismaOdasi">Yarışma Odasına Katıl</a>
        <a href="/Anasayfa/CikisYap">Çıkış Yap</a>
        <h2>Bekleme odasına hoşgeldin @Session["kullaniciAdi"], Puanın: @Session["puan"]</h2>
        <h4>@Session["yarismaOdasiBilgi"]</h4>
        <div>
            <p id="oyunNumarasi">Oyun Numarası: </p>
            <p id="oyunDurumu">Oyun Durumu: </p>
            <p id="oyuncuSayisi">Odadaki Oyuncu Sayısı: </p>
        </div>

        <div>
            <h3>Adminden gelen mesajlar burda gözükecektir</h3>
            <p id="adminMesaji">Mesaj: </p>
        </div>
    </div>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>  <!-- Signalr javascript fonksiyonları için gerekli script-->
    <script src="~/signalr/hubs"></script>  <!-- Default script for signalr -->
    <script src="~/Scripts/beklemeOdasi.js"></script>
</body>
</html>
