﻿
@{
    Layout = null;
}
@model WebApplication7.Models.Kullanici
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Content/index.css">
</head>
<body>
    <div> 
        @using (Html.BeginForm("GirisYap", "Anasayfa", FormMethod.Post))
        {
            @Html.TextBoxFor(k => k.kullaniciAdi, new { placeholder = "Kullanıcı adı"});
            @Html.TextBoxFor(k => k.sifre, new { placeholder = "Şifre"})
            <button type="submit">Giriş Yap</button>
        }
        @Session["girisBilgisi"]
    </div>
    <div>
        @using (Html.BeginForm("KayitOl", "Anasayfa", FormMethod.Post))
        {
            @Html.TextBoxFor(k => k.kullaniciAdi, new { placeholder = "Kullanıcı adı"})
            @Html.TextBoxFor(k => k.sifre, new { placeholder = "Şifre"})
            <button type="submit">Kayıt Ol</button>
        }
        @Session["kayitBilgi"]
    </div>
</body>
</html>
