﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>YarismaOdasi</title>
    <link rel="stylesheet" type="text/css" href="~/Content/yarismaOdasi.css">
</head>
<body>
    <h2>Yarışma odasına hoşgeldin @Session["kullaniciAdi"]</h2>

    <div>
        <p id="soruNumarasi">Soru Numarası: </p>
        <p id="soruAdi">Soru Adı: </p>
        <button id="aSikki">A)</button>
        <button id="bSikki">B) </button>
        <button id="cSikki">C) </button>
    </div>
    <p id="kalanZaman">Zaman: </p>
    <p id="sonuc">Sonuç: </p>
    <p id="dogruYapanlarinSayisi">Doğru Yapan Kişi Sayısı: </p>
    <p id="yanlisYapanlarinSayisi">Yanlış Yapan Kişi Sayısı: </p>



    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>  <!-- Signalr javascript fonksiyonları için gerekli script-->
    <script src="~/signalr/hubs"></script>  <!-- Default script for signalr -->
    <script>
        var kullaniciAdi = '@Session["kullaniciAdi"]';
        localStorage.setItem("kullaniciAdi", kullaniciAdi);
    </script>
    <script src="~/Scripts/yarismaOdasi.js"></script>
</body>
</html>
